$dark-blue: #091931;
$dark-brown: #7a6751;
$light-brown:#c09e8a;
$light-brown-opacity:#dda47f9d;
$light-blue: #67c5dd;
$light-blue-opacity: #67c5dd9d;
$bright-yellow: #f7f2e7;
$golden: #ffc27d;

$sm-screen: 900px;
$med-screen: 1300px;
$large-screen:1700px;

$box-shadow-blue: 0 0 5px 5px $dark-blue;
$gold-text-shadow: 2px 2px 5px $golden; 

@media only screen and (max-width: $med-screen){

}