$dark-blue: #091931;
$dark-brown: #7a6751;
$light-brown:#c09e8a;
$light-brown-opacity:#dda47f9d;
$light-blue: #67c5dd;
$light-blue-opacity: #67c5dd9d;
$bright-yellow: #f7f2e7;
$golden: #ffe58f;

$small-screen-max:900px;
$large-screen-min:1700px;