@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:wght@100;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

$regular-font: 'IBM Plex Serif', serif;
$playful-font: 'Indie Flower', cursive;

$dark-blue: #091931;
$dark-brown: #7a6751;
$light-brown:#c09e8a;
$light-brown-opacity:#dda47f9d;
$light-blue: #448c9e;
$light-blue-opacity: #448c9e88;
$bright-yellow: #f7f2e7;
$golden: #ffc27d;
$golden-opacity: #ffc27d96;

$xsm-screen: 600px;
$sm-screen: 900px;
$med-screen: 1200px;
$large-screen:1500px;
$xlarge-screen: 1900px;

$box-shadow-blue: 0 0 5px 5px $dark-blue;
$box-shadow-golden: 0 0 5px 5px $golden;
$gold-text-shadow: 2px 2px 5px $golden; 
$blue-text-shadow: 2px 2px 5px $dark-blue; 

@media only screen and (max-width: $med-screen){

}