@import '../../Utilities/variables';
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:wght@100;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');


//#region Basic Utilities
.bod-bg-img{
    background-repeat:no-repeat;
    background-color: $light-blue;
    position:contain;
    z-index: -2;
    background-size: 100%;
    height: 100vh;
}

.basic-btns{
    background-color: $light-blue;
    color: $dark-blue;
    font-size: 1rem;
    border:none;
    border-radius: 10px;
    & :hover{
        background-color: $dark-blue;
        color: $light-blue;
    }
}
//#endregion

//#region Login Page
.login-page-row{
    & button{
        margin-top: 1rem;
        margin-bottom: 1rem;
        margin-left: 11rem;
        font-size: 2rem;
    }
    & h1{
        font-size: 4rem;
        margin-top: 8rem;
        font-family: $playful-font;
    }
    & h3{
        font-size: 2rem;
    }
    & h1, h3 {
        color: $dark-blue;
        font-weight: 800;
        text-align: justify;
        padding: 5px;
        text-shadow: $gold-text-shadow;
    }
}

.login-row{
    margin-right: 10rem;
    & h1{
        font-family: $playful-font;
        margin-top: 1rem;
        margin-left: 1rem;
        color: $dark-blue;
        font-weight: 1000;
        font-family: 'Indie Flower', cursive;
        text-shadow: 2px 2px 5px $golden;  
    }
    & button{
        margin-left: 4rem;
    }
}
.login-form{
    margin-top: 9rem;
    width: 50vw;
    background-color: $light-brown-opacity;
    box-shadow: $box-shadow-blue;
    & .login-field{
        background-color: $light-blue-opacity;
        border: 2px solid $dark-blue;
        font-size: 1.5rem;
        margin-left: 2rem;
        border-radius:5px;
    }
    & .login-field:focus{
        background-color: $dark-brown;
        box-shadow: $box-shadow-golden;
    }
    & .login-field::placeholder{
        color: $dark-blue;
    }
    & .login-label{
        margin-top: 1rem;
        color: $dark-blue;
        font-size: 1.5rem;
        font-weight: 600;
        margin-left: 1rem;
    }
} 

//#endregion

//#region Registration Page
.reg-form{
    .reg-label{
        margin-top: 1rem;
        color: $dark-blue;
        font-size: 1.5rem;
        font-weight: 600;
        margin-left: 1rem;
    }
    .reg-field{
        background-color: $light-blue-opacity;
        border: 2px solid $dark-blue;
        font-size: 1.5rem;
        margin-left: 2rem;
        border-radius:5px;
    }
    .reg-field:focus{
        background-color: $dark-brown;
        box-shadow: $box-shadow-golden;
    }
    .reg-field::placeholder{
        color: $dark-blue;
    }
}    
.reading-man{
    margin-top: 4rem;
    margin-left: 6rem;
    width: 30vw;
    opacity: 80%;
    box-shadow: $box-shadow-blue;
    transform: scaleX(-1)
}
.reg-button{
    background-color: $light-blue;
    color: $dark-blue;
    font-size: 2rem;
    border:none;
    border-radius: 10px;
    & :hover{
        background-color: $dark-blue;
        color: $light-blue;
    }
}

//#endregion

//#region Anon Page
.anon-text{
    color: $dark-blue;
    font-weight: 700;
    text-align: justify;
    margin-top: 3em;
    padding: 1em;
    background-color: $light-brown-opacity;
    box-shadow: $box-shadow-blue;
}
.cover-01, .cover-02{
    margin-top: 3em;
    margin-left: 9em;
    opacity: 50%;
    box-shadow: $box-shadow-golden;
}

//#endregion

//#region New Book Page
.new-book-container{
    & h1{
        font-family: $playful-font;
        font-size: 5rem;
        font-weight: 600;
        padding-top:3rem;
        padding-left: 2rem;
        text-shadow: $blue-text-shadow;
    }
    & .new-book-form{
        color: $bright-yellow;
    }
    & .nb-label{
        margin-top: 1rem;
        color: $dark-blue;
        font-size: 2rem;
        font-weight: 600;
        margin-left: 3rem;
    }
    & .nb-field{
        background-color: $light-blue-opacity;
        border: 2px solid $dark-blue;
        font-size: 1.5rem;
        margin-left: 2rem;
        border-radius:5px;
        color: $bright-yellow;
    }
    & .nb-field:focus{
        background-color: $dark-brown;
        box-shadow: $box-shadow-golden;
    }
    & .nb-field::placeholder{
        color: $dark-blue;
    }
}
.nb-button{
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 11rem;
    font-size: 2rem;
    background-color: $dark-brown;
    color: $golden;
    border-radius:5px;
}
//#endregion