@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:wght@100;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:wght@100;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");
.bod-bg-img {
  background-repeat: no-repeat;
  background-color: #448c9e;
  position: contain;
  z-index: -2;
  background-size: 100%;
  height: 100vh;
}

.basic-btns {
  background-color: #448c9e;
  color: #091931;
  font-size: 1rem;
  border: none;
  border-radius: 10px;
}

.basic-btns :hover {
  background-color: #091931;
  color: #448c9e;
}

.login-page-row button {
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 11rem;
  font-size: 2rem;
}

.login-page-row h1 {
  font-size: 4rem;
  margin-top: 8rem;
  font-family: "Indie Flower", cursive;
}

.login-page-row h3 {
  font-size: 2rem;
}

.login-page-row h1, .login-page-row h3 {
  color: #091931;
  font-weight: 800;
  text-align: justify;
  padding: 5px;
  text-shadow: 2px 2px 5px #ffc27d;
}

.login-row {
  margin-right: 10rem;
}

.login-row h1 {
  font-family: "Indie Flower", cursive;
  margin-top: 1rem;
  margin-left: 1rem;
  color: #091931;
  font-weight: 1000;
  font-family: 'Indie Flower', cursive;
  text-shadow: 2px 2px 5px #ffc27d;
}

.login-row button {
  margin-left: 4rem;
}

.login-form {
  margin-top: 9rem;
  width: 50vw;
  background-color: #dda47f9d;
  -webkit-box-shadow: 0 0 5px 5px #091931;
          box-shadow: 0 0 5px 5px #091931;
}

.login-form .login-field {
  background-color: #448c9e88;
  border: 2px solid #091931;
  font-size: 1.5rem;
  margin-left: 2rem;
  border-radius: 5px;
  width: 20rem;
}

.login-form .login-field:focus {
  background-color: #7a6751;
  -webkit-box-shadow: 0 0 5px 5px #ffc27d;
          box-shadow: 0 0 5px 5px #ffc27d;
}

.login-form .login-field::-webkit-input-placeholder {
  color: #091931;
}

.login-form .login-field:-ms-input-placeholder {
  color: #091931;
}

.login-form .login-field::-ms-input-placeholder {
  color: #091931;
}

.login-form .login-field::placeholder {
  color: #091931;
}

.login-form .login-label {
  margin-top: 1rem;
  color: #091931;
  font-size: 1.5rem;
  font-weight: 600;
  margin-left: 1rem;
}

.reg-form .reg-label {
  margin-top: 1rem;
  color: #091931;
  font-size: 1.5rem;
  font-weight: 600;
  margin-left: 1rem;
}

.reg-form .reg-field {
  background-color: #448c9e88;
  border: 2px solid #091931;
  font-size: 1.5rem;
  margin-left: 2rem;
  border-radius: 5px;
}

.reg-form .reg-field:focus {
  background-color: #7a6751;
  -webkit-box-shadow: 0 0 5px 5px #ffc27d;
          box-shadow: 0 0 5px 5px #ffc27d;
}

.reg-form .reg-field::-webkit-input-placeholder {
  color: #091931;
}

.reg-form .reg-field:-ms-input-placeholder {
  color: #091931;
}

.reg-form .reg-field::-ms-input-placeholder {
  color: #091931;
}

.reg-form .reg-field::placeholder {
  color: #091931;
}

.reading-man {
  margin-top: 4rem;
  margin-left: 6rem;
  width: 30vw;
  opacity: 80%;
  -webkit-box-shadow: 0 0 5px 5px #091931;
          box-shadow: 0 0 5px 5px #091931;
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
}

.reg-button {
  background-color: #448c9e;
  color: #091931;
  font-size: 2rem;
  border: none;
  border-radius: 10px;
}

.reg-button :hover {
  background-color: #091931;
  color: #448c9e;
}

.anon-text {
  color: #091931;
  font-weight: 700;
  text-align: justify;
  margin-top: 3em;
  padding: 1em;
  background-color: #dda47f9d;
  -webkit-box-shadow: 0 0 5px 5px #091931;
          box-shadow: 0 0 5px 5px #091931;
}

.cover-01, .cover-02 {
  margin-top: 3em;
  margin-left: 9em;
  opacity: 50%;
  -webkit-box-shadow: 0 0 5px 5px #ffc27d;
          box-shadow: 0 0 5px 5px #ffc27d;
}

.new-book-container h1 {
  font-family: "Indie Flower", cursive;
  font-size: 5rem;
  font-weight: 600;
  padding-top: 3rem;
  padding-left: 2rem;
  text-shadow: 2px 2px 5px #091931;
}

.new-book-container .new-book-form {
  color: #ffe3a8;
}

.new-book-container .nb-label {
  margin-top: 1rem;
  color: #091931;
  font-size: 2rem;
  font-weight: 600;
  margin-left: 3rem;
}

.new-book-container .nb-field {
  background-color: #448c9e88;
  border: 2px solid #091931;
  font-size: 1.5rem;
  margin-left: 2rem;
  border-radius: 5px;
  color: #ffe3a8;
}

.new-book-container .nb-field:focus {
  background-color: #7a6751;
  -webkit-box-shadow: 0 0 5px 5px #ffc27d;
          box-shadow: 0 0 5px 5px #ffc27d;
}

.new-book-container .nb-field::-webkit-input-placeholder {
  color: #091931;
}

.new-book-container .nb-field:-ms-input-placeholder {
  color: #091931;
}

.new-book-container .nb-field::-ms-input-placeholder {
  color: #091931;
}

.new-book-container .nb-field::placeholder {
  color: #091931;
}

.nb-button {
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 11rem;
  font-size: 2rem;
  background-color: #7a6751;
  color: #ffc27d;
  border-radius: 5px;
}

.cart-page-row .book-pile img {
  margin-top: 3rem;
  width: 40rem;
  border-radius: 15px;
  opacity: 80%;
  margin-left: 4rem;
  -webkit-box-shadow: 0 0 5px 5px #ffc27d;
          box-shadow: 0 0 5px 5px #ffc27d;
}
/*# sourceMappingURL=Pages.css.map */