@import '../../Utilities/variables';

.body-bg-img{
    background-repeat:no-repeat;
    background-color: $light-blue;
    position:contain;
    z-index: -1;
    background-size: 100%;
    height: 100vh;
    top: 800px;
    background-attachment: absolute;
    overflow-y: scroll;
    @media only screen and (max-width: $sm-screen){
        background-attachment: cover;
        height:auto;
    }
}

//#region Header
.head{
    top:0;
    left:0;
    width: 100vw;
    height:25vh;
    overflow: hidden;
    position: relative;
    & .fire-hazard{
        top: -700px;
        position:absolute;
        overflow: hidden;
    }
    & .title{
        right:1.5em;
        top: 1.25em;
        position: absolute; 
        font-family: 'Indie Flower', cursive;  
        font-size:5rem;
    }
    & .sub-title{
        font-family: 'Indie Flower', cursive; 
        font-size: 3rem;
        position: absolute;
        top:4em;
        right: 4em;
    }
    & .log-reg{
        margin-top: 8em;
        position:inherit;
    }
}

//#endregion

//#region Nav Bar
.nav-bar{
    width: 100vw;
    background: $light-blue;
    height: 10vh;
    & .nav-links{
        margin-top:.5em;
    }
    & span{
        padding-right:5px;
        color: $dark-brown;
        font-size: 1.5em;
    }
}
//#endregion

//#region BookCard Component
.book-card{
    height: 70vh;
    background-color: $light-brown-opacity;
    border-radius: 10px;
    box-shadow: $box-shadow-blue;
    position: relative;
    @media only screen and (max-width: $sm-screen){
        height: 40vh;
        width: auto;
    }
    & p{
        color:$dark-blue;
        font-size: 1.5em;
        text-align: center;
        padding-top: 10px;
        @media only screen and (max-width: $sm-screen){
            font-size: medium;
        }
    }
    & .bc-part{
        margin-top: 3rem;
        height: 20vh;
        width: 13.5vw;
        position: absolute;
    }
    & img{
        margin-top: 17em;
        height: 45vh;
        width: 13.5vw;
        object-fit: fill;
        position: absolute;
        @media only screen and (max-width: $sm-screen){
            display:none;
        }
    }
    & .detail-btn{
        background-color: $light-blue;
        border-radius: 5px;
        border: none;
        margin-top: 1em;
    }
}

//#endregion

//#region Detail Page Body
.main-body-details{
    width:100%;
}
.magic-book{
    background-repeat:no-repeat;
    background-color: $light-blue;
    position:contain;
    z-index: -1;
    background-size: 100%;
    & img{
        margin-top:2em;
        border: 5px $light-brown solid;
        margin-bottom: 1em;
        box-shadow: 0 0 5px 5px $dark-blue;
    }
    & .book-details-box{
        margin-top: 2em;
        background-color: $light-brown-opacity;
        margin-bottom: 1em;
        box-shadow: 0 0 5px 5px $dark-blue;
    }
    & p{
        color: $dark-blue;
        font-size: 1.5em;
        font-weight: 400;
    }
    & .book-title, .book-author{
        color: $dark-blue;
        font-size: 2em;
        font-weight:600;
    }
}
//#endregion

//#region Main Shop Page
.main-body-row{
    background-color: $light-blue;
    
}

//#endregion