@import '../../Utilities/variables';

//#region Header
.head{
    top:0;
    left:0;
    width: 101vw;
    height:25vh;
    overflow: hidden;
    background-color: $light-blue;
    position:relative;
    & .title{
        right:1em;
        top: 1.25em;
        position: absolute; 
        font-family: 'Indie Flower', cursive;  
        font-size:3em;
    }
    & .sub-title{
        font-family: 'Indie Flower', cursive; 
        position: absolute;
        top:4em;
        right: 2em;
    }
    & .fire-hazard{
        top:-438px;
        opacity: 95%;
        position: absolute;
        size: cover;
    }
    & .log-reg{
        margin-top: 8em;
        position:inherit;
    }
}
//#endregion

//#region Nav Bar
.nav-bar{
    width: 100vw;
    background: $light-blue;
    height: 10vh;
    & .nav-links{
        margin-top:.5em;
    }
    & span{
        padding-right:5px;
        color: $dark-brown;
        font-size: 1.5em;
    }
}
//#endregion

//#region BookCard Component
.book-card{
    height: 20vh;
    width:5vw;
    & p{
        color:$dark-blue;
    }
    & .bc-part{
        background-color: $light-brown;
    }
    & .bc-part img{
        object-fit: fill;
    }
}
.bc-img{
    height:20vh;
    top:0;
    left:0;
}
//#endregion

//#region Body Background Image
.magic-book{
    background-repeat:no-repeat;
    background-color: $light-blue;
    position:contain;
    z-index: -1;
    background-size: 100%;
    & img{
        margin-top:2em;
        border: 5px $light-brown solid;
        margin-bottom: 1em;
        box-shadow: 0 0 5px 5px $dark-blue;
    }
    & .book-details-box{
        margin-top: 2em;
        background-color: $light-brown-opacity;
        margin-bottom: 1em;
        box-shadow: 0 0 5px 5px $dark-blue;
    }

}
//#endregion
