@import '../../Utilities/variables';

.head{
    top:0;
    left:0;
    width: 100vw;
    height:30vh;
    background-color: $dark-chocolate;
    position:relative;
    & .title{
        margin-top: 1em;
        margin-left: 1em;
        position:inherit;
        
    }
    & .log-reg{
        margin-top: 8em;
        position:inherit;
    }
}

.nav-bar{
    height: 60vh;
    width: 10vw;
    background-color: $dark-green;
    color: $teal;
    position:relative;
    & .bm-nav-item{
        margin-top: 10px;
    }
}
//#endregion

//#region BookCard Component
.book-card{
    height: 20vh;
    width:5vw;
    & p{
        color:$teal;
    }
    & .bc-part{
        background-color: $dark-chocolate;
    }
    & .bc-part img{
        object-fit: fill;
    }
}
.bc-img{
    height:20vh;
    top:0;
    left:0;
}
//#endregion

// .arrow-down {
//     width: 0;
//     height: 0;
//     border-left: 50px solid transparent;
//     border-right: 50px solid transparent;
//     border-top: 5rem solid $dark-green;
//   }